= content_for :sidebar do
  %h3 Sharelogs
  %ul.nav.nav-list
    %li.nav-header ToDo
    %li= link_to "Pagination", "#"
    %li= link_to "Find errors", "#"
    %li= link_to "Find slow queries", "#"
    %li= link_to "Log expiration", "#"
    %li= link_to "More log formats", "#"
    %li.nav-header Done
    %li= link_to "Filter by time", "#"
    %li= link_to "Line numbers", "#"
    %li= link_to "Links to lines", "#"
    %li= link_to "ASCII colors", "#"
    %li= link_to "Regex grep", "#"
    %li= link_to "Block folding", "#"
    %li= link_to "Line highlighting", "#"

%h1 Share logs using the command-line

%h2 Simple example:

%pre
  %code
    $ curl --upload-file ./log/development.log #{root_url}rails
    %br/
    = link_to log_file_url('hjO07BhgQCKflpI'), log_file_url('hjO07BhgQCKflpI'), target: :blank

%h2 Share last N lines only

%pre
  %code
    :plain
      sharelog() {
      tmpfile=$( mktemp )
      if [ -z $3 ]
      then
        cat $2 > $tmpfile
      else
        tail -n $3 $2 > $tmpfile
      fi
      curl --upload-file $tmpfile http://dna.r14.railsrumble.com/$1
      rm -f $tmpfile
      }
      alias sharelog=sharelog
%pre
  %code $ sharelog rails ./log/production.log 200